/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  border: 2px solid black;
  display: inline-block;
  margin: 25%;
  margin-left: 40%;
  width: 31%;
  padding: 1rem;
  position: relative;
}

.phrase1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade 10s infinite;
}
.phrase2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade 10s infinite;
}
.phrase3 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade 10s infinite;
}

.phrase1:nth-child(1) {
  animation-delay: 0s;
}
.phrase2:nth-child(2) {
  animation-delay: 3s;
}
.phrase3:nth-child(3) {
  animation-delay: 7s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
